@font-face
{
    font-family: 'arista';
    font-weight: normal;
    font-style: normal;

    src: url('font/STYLLO.eot');
    src: url('font/STYLLO.woff') format('woff'),
    url('font/STYLLO.ttf') format('truetype'),
    url('font/STYLLO.svg#fontello') format('svg');
}

.header
{
    position: fixed;
    z-index: 5;
    top: 0;

    width: 100%;

    background: #34495e;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .08);
}

.header__inner
{
    width: 905px;
    margin: auto;

    white-space: nowrap;
}

.header__menu,
.header__logo,
.header__search
{
    display: inline-block;

    vertical-align: middle;
}

.header__menu
{
    margin-left: 462px;

    list-style: none;
}

.header__menu .menu__item
{
    display: inline-block;
}

.header__menu .menu__item .link
{
    font-size: 13px;

    padding: 16px 18px;

    -webkit-transition: .2s;
       -moz-transition: .2s;
         -o-transition: .2s;
            transition: .2s;

    color: rgba(255,255,255,.8);
}

.header__menu .menu__item .link:hover
{
    text-decoration: none;

    color: #fff;
}

.header__input
{
    font-size: 13px;

    width: 170px;
    margin: 0 5px 0 31px;
    padding: 6px 10px;

    -webkit-transition: .2s;
       -moz-transition: .2s;
         -o-transition: .2s;
            transition: .2s;

    color: rgba(255, 255, 255, .7);
    border: 0;
    border-radius: 2px;
    background: rgba(255, 255, 255, .12);
}

/*.header__input.input_focused_yes
{
    width: 550px;
}*/

.header__search
{
    position: relative;

    display: none;
}

.header__search:before
{
    position: absolute;
    top: 7px;
    right: 10px;

    color: rgba(255, 255, 255, .5);
}
