.box
{
    position: relative;

    margin: 10px 0 15px;
    padding: 15px;

    border-radius: 2px;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .06);
}

.box__avatar
{
    width: 50px;
    height: 50px;
    margin-right: 10px;

    cursor: pointer;

    border-radius: 2px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.box__inner
{
    width: 465px;
}

.box__avatar,
.box__inner
{
    display: inline-block;

    vertical-align: top;
}

.box__title
{
    font-size: 14px;

    display: inline-block;

    margin-bottom: 5px;
}

.box__time
{
    display: inline-block;

    margin-left: 10px;

    color: #acb4be;
}

.box__text
{
    font-size: 14px;
    line-height: 22px;
}

.box__images-inner
{
    font-size: 0;

    margin-top: 10px;

    text-align: justify;
}

.box__images-inner:after
{
    display: inline-block;

    width: 100%;

    content: '';
}

.box__post-image
{
    display: none;
    overflow: hidden;

    padding: 0 1px 1px 0;

    cursor: pointer;
    -webkit-transition: .15s;
       -moz-transition: .15s;
         -o-transition: .15s;
            transition: .15s;
    vertical-align: top;

    background-size: cover;
}

.box__post-image:hover
{
    opacity: .8 !important;
}

.box__show-more
{
    font-weight: 700;

    margin-top: 3px;

    -webkit-transition: .2s;
       -moz-transition: .2s;
         -o-transition: .2s;
            transition: .2s;

    color: #91a4b8;
}

.box__text-inner:hover
{
    cursor: pointer;
}

.box__text-inner:hover ~ .box__show-more
{
    color: #5a7fa7;
}

.box__text-hide_hide_yes
{
    display: none;
}

.box__show-more_hide_yes
{
    display: none;
}
