.box
{
    position: relative;

    padding: 15px;

    background: #fff;
    border-bottom: 1px solid #E6E8EB;
}

.box_first_yes
{
    padding-top: 17px;
}

.box__avatar
{
    width: 50px;
    height: 50px;
    margin-right: 10px;

    cursor: pointer;

    border-radius: 2px;
    background-color: rgba(0, 0, 0, .1);
    background-repeat: no-repeat;
    background-size: 100%;
}

.box__inner
{
    width: 465px;
}

.box__avatar,
.box__inner
{
    display: inline-block;

    vertical-align: top;
}

.box__title
{
    font-size: 14px;

    display: inline-block;

    margin-bottom: 5px;
}

.box__time
{
    display: inline-block;

    margin-left: 10px;

    color: #acb4be;
}

.box__text
{
    font-size: 14px;
    line-height: 22px;
}

.box__images-inner
{
    width: 465px;
    min-height: 100px;
    margin-top: 10px;
}

.box__photo-wrapper,
.box__album-wrapper
{
    position: relative;

    display: inline-block;
    overflow: hidden;

    padding: 0 1px 1px 0;

    -webkit-transition: .15s;
       -moz-transition: .15s;
         -o-transition: .15s;
            transition: .15s;
    vertical-align: bottom;
}

.box__photo-wrapper:hover,
.box__album-wrapper:hover
{
    opacity: .8 !important;
}

.box__post-image
{
    display: none;
    overflow: hidden;
}

.box__show-more
{
    font-weight: 700;

    margin-top: 3px;

    -webkit-transition: .2s;
       -moz-transition: .2s;
         -o-transition: .2s;
            transition: .2s;

    color: #91a4b8;
}

.box__text-inner:hover
{
    cursor: pointer;
}

.box__text-inner:hover ~ .box__show-more
{
    color: #5a7fa7;
}

.box__text-hide
{
    display: inline;
}

.box__text-hide_hide_yes
{
    display: none;
}

.box__show-more_hide_yes
{
    display: none;
}

.box__docs-inner
{
    margin-top: 5px;
}

.box__doc-wrapper
{
    position: relative;

    display: inline-block;
    overflow: hidden;

    width: 110px;
    height: 90px;
    margin: 0 8px 6px 0;

    vertical-align: top;

    background: #E6E9EC;
}

.box__post-doc-title
{
    font-size: 11px;

    position: absolute;
    bottom: 0;

    overflow: hidden;

    width: 98px;
    padding: 0 6px;

    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: #fff;
    background: rgba(0,0,0,.6);
}

.box__doc-wrapper:nth-child(4n)
{
    margin-right: 0;
}

.box__post-doc
{
    width: 100%;
}

.box__albums-inner
{
    margin-top: 10px;
}
.box__post-album
{
    width: 100%;
}

.box__albums-inner
{
    position: relative;

    overflow: hidden;
}

.box__album-title,
.box__count-photos
{
    display: inline-block;
}

.box__album-title
{
    overflow: hidden;

    max-width: 361px;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.box__count-photos
{
    float: right;

    margin-right: 20px;
}

.box__album-description
{
    position: absolute;
    bottom: 1px;

    visibility: visible;

    width: 100%;
    padding: 5px 8px 0;

    -webkit-transition: .2s;
       -moz-transition: .2s;
         -o-transition: .2s;
            transition: .2s;

    opacity: 1;
    color: #fff;
    background: rgba(0, 0, 0, .5);
}

.box__albums-inner:hover .box__album-description
{
    bottom: -28px;

    visibility: hidden;

    opacity: 0;
}

.box__repost-inner
{
    margin: 2px 0 4px;
}

.box__repost-avatar
{
    width: 35px;
    height: 35px;
    margin-right: 10px;

    cursor: pointer;

    border-radius: 2px;
    background-color: rgba(0, 0, 0, .1);
    background-repeat: no-repeat;
    background-size: 100%;
}

.box__repost-avatar,
.box__repost-content
{
    display: inline-block;

    vertical-align: top;
}

.box__repost-time
{
    display: block;

    color: #8c8e91;
}

.box__repost-icon
{
    font-size: 12px;

    display: inline-block;

    margin: 0 2px 0 -2px;

    color: #99aac3;
}

.box__video-control
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;

    cursor: pointer;
    -webkit-transition: .15s;
       -moz-transition: .15s;
         -o-transition: .15s;
            transition: .15s;
    text-align: center;

    border-radius: 50%;
    background: rgba(250, 250, 255, .85);
}

.box__video-control:after
{
    position: absolute;

    width: 0;
    height: 0;
    margin: 16px 0 0 -9px;

    content: '';

    border-top: 14px solid rgba(0, 0, 0, 0);
    border-bottom: 14px solid rgba(0, 0, 0, 0);
    border-left: 27px solid rgba(0, 0, 0, .85);
}

.box__photo-wrapper_type_video:hover
{
    opacity: 1 !important;
}

.box__photo-wrapper_type_video:hover .box__video-control
{
    background: rgba(250, 250, 255, .75);
}
