@import 'http://webfonts.ru/import/aleo.css';

*
{
    outline: none;
}

.b-page
{
    font: 13px/18px 'Lucida Sans Unicode', Arial, Helvetica, Verdana, sans-serif;

    margin: 0;
    padding: 0;

    background: #f7f7f7;
}

.b-page_overflow_yes
{
    overflow: hidden;
}
