@import "http://webfonts.ru/import/aleo.css";

*
{
    outline: none;
}

.b-page
{

    background: #ecf0f1;
    font: 13px/18px 'Lucida Sans Unicode', Arial, Helvetica, Verdana, sans-serif;

    margin: 0;
    padding: 0;
}

.b-page_login_no .header__search,
.b-page_login_no .header__menu
{
    display: none;
}

.b-page_login_no
{
    background: #E5E9EC;
    min-width: 940px;
}

.b-page_login_no .header
{

    background: rgba(52, 73, 94, .65);
    box-shadow: none;
    margin: -17px auto 0;
    position: relative;

    width: 80%;
}

.b-page_login_no .header__inner
{
    width: 85%;
}

.b-page_login_no .header__logo
{
    margin: 33px 0 21px;
}

.b-page_login_no .content
{
    margin-top: 0;
    width: 100%;
}

.b-page_category_yes .header
{
    text-align: center;
}

.b-page_category_yes .header__menu
{
    float: right;
    margin-top: 15px;
}

.b-page_category_yes .header__logo
{
    margin: 17px 0 20px 0;
}

.b-page_category_yes .header__search,
.b-page_category_yes .header__menu
{
    display: none;
}
