.usermenu_fixed_yes
{
    position: fixed;
    top: 65px;

    width: 185px;
}

.usermenu .usermenu__menu
{
    margin: -5px 0 0 -40px;

    list-style: none;
}

.usermenu__menu .link
{
    font-size: 14px;

    display: block;

    padding: 7px 10px 7px 16px;

    border-radius: 2px;
    color: #4D75A2;

    cursor: pointer;
}

.usermenu__menu .link:hover
{
    background: #e1e5e9;
}

.usermenu__menu .link:hover .icon
{
    color: #5a7fa7;
}
