.usermenu .usermenu__menu
{
    margin: -5px 0 0 -30px;

    list-style: none;
}

.usermenu__menu .link
{
    font-size: 14px;

    display: block;

    padding: 7px 10px;
}

.usermenu__menu .link:hover,
.usermenu__menu .link:hover .icon
{
    color: #404040;
}
