.loader
{
    position: fixed;
    top: 47px;

    visibility: hidden;

    width: 100%;
    height: 100%;

    -webkit-transition: .3s;
       -moz-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    opacity: 0;
    background: rgba(255, 255, 255, .85);
}

.b-page_loading_yes  .loader
{
    visibility: visible;

    opacity: 1;
}

.loader__spinner
{
    width: 200px;
    margin: 200px auto 0;

    text-align: center;
}

.loader__item
{
    display: inline-block;

    width: 35px;
    height: 35px;

    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
            animation: bouncedelay 1.4s infinite ease-in-out;

    border-radius: 100%;
    background-color: rgba(76, 113, 168, .6);

    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

.loader__item_pos_1
{
    -webkit-animation-delay: -.32s;
            animation-delay: -.32s;
}

.loader__item_pos_2
{
    -webkit-animation-delay: -.16s;
            animation-delay: -.16s;
}


@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
