.loader
{
    position: fixed;
    top: 47px;

    width: 100%;
    height: 100%;

    -webkit-transition: .3s;
       -moz-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    background: rgba(255, 255, 255, .85);

    visibility: hidden;
    opacity: 0;
}

.b-page_loading_yes  .loader
{
    visibility: visible;
    opacity: 1;
}

.loader__spinner
{
  width: 100px;
  height: 100px;

  position: fixed;
  top: 50%;
  left: 50%;

  margin: -75px 0 0 -50px;

  text-align: center;

  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

.loader__spinner:after,
.loader__spinner:before
{

    display: inline-block;

    position: fixed;
    content: '';
    top: 0;

    width: 50%;
    height: 50%;

    background: rgba(76, 113, 168, .6);
    border-radius: 100%;

    -webkit-animation: bounce 2.0s infinite ease-in-out;
            animation: bounce 2.0s infinite ease-in-out;
}

.loader__spinner:before
{
  top: auto;
  bottom: 0;

  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
